body {
	margin: 0 0 10px 0;
	padding: 0;
	background: #eff3e4 url(images/bg.jpg); background-repeat:repeat-x;
	text-align: justify;
	font-family: Trebuchet MS, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}
#wrapper {
	width: 800px;
	margin: 0 auto;
	
	background: #ffffff;
	
}

#header {
	width: 800px;
	height: 200px;
	margin: 0 auto; 
	
}

#left {
	float: left;
	width: 320px;
	margin:10px 0 0 10px;
	padding:5px;
	}
#content {
	float: left;
	width: 400px;
	margin:10px 0 0 20px;
	padding:5px;
}
#firstProject {
	float: left;
	width: 800px;
	
	}

#firstProjectContent {
	float: left;
	width: 720px;
	margin:10px 0 0 20px;
	padding:5px;
}
#secondProject {
	float: left;
	width: 720px;
	margin:20px 0 0 20px;
	padding:5px;
}
#MissPanel {
	float: left;
	width: 800px;
	margin:10px 0 0 10px;
	padding:10px;
	
	}

#leftProjectPic {
	float: left;
	width: 200px;
	margin: 10 0 0 20px;
	padding:5px;
}

#RightProjectContent {
	float: left;
	width: 400px;
	margin: 10 220 0 500px;
	padding:5px;
}

.clear{clear:both; height:0px;}

#footer
{
 height:30px;
 padding:10px 60px 0 0;
 background-color:#000000;
 text-align:right;
 color:#cccccc;
}

d .footer
{
float: right;
 height:30px;
 padding:10px 60px 0 0;
 background-color:#000000;
 
 color:#cccccc;
}

h2 {
	font-size: 25px;
	display:inline;
	font-style:normal;
}

h3{
	font-size: 14px;
	color:#000000;
	display:inline;
	font-style:normal;
}
h4 {
	font-size: 14px;
	font-family: tahoma;
	font-weight: bold;
	color:#be4204;
	display:inline;
	font-style:normal;

	
}
h5{
	font-size: 14px;
	color:#000000;
	display:inline;
	text-decoration:underline;
	font-style:normal;
}
h6{
	font-size: 16px;
	color:#000000;
	display:inline;
	text-decoration:underline;
	font-style:normal;
}
h7{
	font-size: 14px;
	color:#000000;
	display:inline;
	text-decoration:underline;
	font-style:normal;
	padding:10px;
}
h8{
	font-size: 14px;
	color:#be4204;
	display:inline;
	font-style:normal;
	
}
h9{
	font-size: 12px;
	font-family: tahoma;
	font-weight: bold;
	color:#be4204;
	display:inline;
	font-style:normal;
	
}
h10{
	font-size: 11.5px;
	font-family:Arial;
	color:#000000;
	display:inline;
	font-style:normal;
	
}
h11{
	font-size: 18px;
	font-family:Arial;
	color:#000000;
	display:inline;
	font-style:normal;
	font-weight: bold;	
	
}
p, ol, ul {
	line-height: 22px;
}

ul {
	margin-left: 15px;
	padding-left: 15px;
	
}

ul li { width:700px;
	padding: 2px 0 5px 0;
	
}

ul li.first {
	background: none;
}

img {
	float: left;
	margin:8px;
	border:2px solid #cccccc;
}

h1
{ padding:45px 0 0 30px;
    font-color:#ff0000;
	font-size: 36px;
	text-decoration:none;
	line-height:36px;
	margin:0px;
	}


h1 a { color:#000000;
	text-decoration:none;
	}
h1 a:hover { color:#ffffff;
	text-decoration:none;
}

#menu
{ height:50px;
 margin-top:40px;
}
#rc1
{width:10px; height:50px; background-image:url(images/linksbg.jpg); background-repeat:no-repeat; float:left;}
#bg
{ width:620px; 
  height:50px;
 background-image:url(linksbg.jpg); 
 background-repeat:repeat-x; 
 float:left; 
 padding-left:180px; 
 }
#rc2
{width:15px; height:50px; background-image:url(images/linksbg.jpg); background-repeat:no-repeat; float:left;}

.toplinks
{
	width: 120px;
	text-align: center;
	float: left;
	height: 40px;
	line-height: 40px;
	font-family: tahoma;
	font-size: 14px;
	font-weight: bold;
	color: #cccccc;
	text-decoration: none;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 15px;
 }

.toplinks:hover
{ color:#FFCC00;
 }

a {
	color: #9B9A64;
}

a:hover {
	text-decoration: none;
	color:#FF6600;
}

#blackLine {
background: #000000;
width: 800px;
height: 1px;
padding: 0;
margin: 0;
}